body {
	background-color: darkred;
}

@media (max-width: 1080px) {
	body {
		background-color: darkgreen;
	}
}

@media (max-width: 550px) {
	body {
		background-color: darkblue;
	}
}

@media (max-width: 400px) {
	body {
		background-color: darkorange;
	}
}