body {
	background-color: lightgreen;
}

@media (min-width: 675px) {
	body {
		background-color: lightblue;
	}
}

@media (min-width: 999px) {
	body {
		background-color: lightpink;
	}
}

@media (min-width: 1280px) {
	body {
		background-color: lightyellow;
	}
}